*.pdf
*.o
*.xml
*.ttf
Makefile
config.log
fntsample
fntsample.1
pdfoutline
unicode_blocks.c
config.h
config.status
pdfoutline.1
stamp-h1
/po/Makefile
/po/Makefile.in
/po/Makevars
/po/POTFILES
/po/uk.gmo
/.deps/*
